{% extends 'base.html' %}

{% block title %}Página de Usuários{% endblock %}

{% block content %}

    <h1>
    Exibindo detalhe do usuário de id {{employee.id}} 
    </h1>
    
    <div class="row">
        <div class="col-sm-6" id="{{employee.id}}" >
            <div class="card" id="{{employee.id}}">
                <div class="card-body" id="{{employee.id}}">
                    <h5 class="card-title" id="{{employee.id}}"> {{ employee.name }} ({{ employee.department }})</h5>
                    <p class="card-text email" id="{{employee.id}}">{{ employee.email }}</p>  
                    <a href="#" class="btn btn-primary">Excluir</a>
                </div>
            </div>
         </div>
    </div>

{% endblock %}